<!-- Edit only the pic or the bio -->
<div class="form-bg">
    
    <form action="/users/<%= userData.user_id %>" method="post" class="signup-page" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">

        
        <div class="pitch">
            <h3>Edit your profile details</h3>
        </div>
    
        <label for="photo">Upload a profile picture</label>
        <input type="file" name="uploaded-file">
        <% if (badPhoto) { %>
            <p class="password-message warning"><%= message.photoMessage %></p>
        <% } %>

        <label for="about">About you</label>
        <textarea name="about" id="about" placeholder="Share a bit about yourself"><%= userData.user_about %></textarea>
        <% if (badAbout) { %>
            <p class="about-message warning"><%= message.aboutMessage %></p>
        <% } %>
        
        <button>Edit profile</button>
    
    </form>

</div>
