<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Catch</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Luckiest+Guy&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Good Catch</h1>
            <img src="/images/goodcatch-logo.png" alt="goodcatch-logo">
        </div>

        <nav>
            <form action="/" class="home">
                <button class="home">Home</button>
            </form>

            <% if (isLoggedIn()) { %>
            <form action="/catches/new" class="share-catch">
                <button class="share-catch">Share a Catch</button>
            </form>
            <% } %>

            <form class="search">
                <input type="text" placeholder="Search...">
                <!-- <button class="search"></button> -->
            </form>

            <% if(isLoggedIn()) { %>
                <button class="profile"></button>
                <form action="/login" class="logout" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="logout">Logout</button>
                </form>
            <% } else { %>
                <form action="/login" class="login">
                    <button class="login">Login</button>
                </form>
            <% } %>
        </nav>
    </header>

    
    <main>
            
        <%- body %>

    </main>
    
</body>
</html>