<section class="user-header">

    <img src="<%= userRecord.user_img_url %>" alt="">

    <h2><%= userRecord.username %></h2>
    
</section>

<section class="user-details">

    <section class="about">

        <h2>About me</h2>
        <p><%= userRecord.user_about %></p>
               
    </section>

    <% if (isProfileOwner) { %>
        <div class="modify">
            <form action="/users/<%= userRecord.user_id %>/edit" class="edit-user">
                <button>Edit user details</button>
            </form>
        </div>
    <% } %>

</section>


<% if (isProfileOwner) { %>
    <form action="/login" class="logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="logout">Logout</button>
    </form>
<% } %>