* {
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    ;
    /* border: 1px solid green; */
}

/* h2 {
    margin: 0px;
} */

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #cce6ff97, #cce6ff97), url('https://i.imgur.com/6rZ4491.jpg') no-repeat top center;
    background-size: cover;
}

header {
    position: relative;
    height: 12vh;
    /* border-bottom: solid 1px darkgray; */
    display: grid;
    background-color: linear-gradient(to top, #cce6ff97, #cce6ff97);
}

h3, h4 {
    margin: 0px;
}

.logo {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

.logo img {
    position: absolute;
    display: block;
    height: 9.5vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

h1 {
    font-size: 3.1em;
    text-align: center;
    margin: 0;
    z-index: -5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7db9ff;
}

nav {
    display: flex;
    align-items:flex-end;
    padding-bottom: 20px
}


header button {
    height: 35px;
    background-color: #7db9ff;
    border: 1px solid #ffefd1;
    padding: 5px 25px;
    border-radius: 8px;
}
header button:hover {
    cursor:pointer;
}

header input {
    height: 35px;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #ffefd1;
}
header input:hover {
    cursor:text;
}

/* button.search {
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/search-icon.png');
    background-color: white;
} */

form.home {
    position: absolute;
    left: 9%;
    transform: translate(-50%,0);
}

form.share-catch {
    position: absolute;
    left: 27.5%;
    transform: translate(-50%,0);
}

form.search {
    position: absolute;
    left: 75%;
    transform: translate(-50%,0);
}

a.profile {
    height: fit-content;
    bottom: 13px;
    position: absolute;
    left: 90%;
    transform: translate(-50%,0);
    border-radius: 100%;
    border-style: none;
    /* background-image: url('/images/default-avatar.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a.profile img {
    height: 60px;
}

div.login {
    position: absolute;
    left: 88%;
    transform: translate(-50%,0);
    border-radius: 100%;
    border-style: none;
    margin-bottom: -20px;
}


div.login a {
    color: black;
    font-size: 0.8em;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
}

form.logout {
    position: absolute;
    left: 85%;
    transform: translate(-50%,0);
    border-radius: 100%;
    border-style: none;
}

form.logout {
    position: absolute;
    right: 5%;
    top: 2%;
    transform: translate(50%,0);
    border-radius: 100%;
    border-style: none;
}
form.logout button {
    height: 35px;
    background-color: #7db9ff;
    border: 1px solid #ffefd1;
    padding: 5px 25px;
    border-radius: 8px;
}
form.logout button:hover {
    cursor:pointer;
}

main {
    background-color: white;
    width: 80%;
    height: 88vh;
    margin: 0 auto;
    border-left: solid 1px #f1f1f1;
    border-right: solid 1px #f1f1f1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
}


.grid-header {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
    height: 6%;
}


.grid-header h2 {
    margin: 0;
    font-size: 1.2em;
}


.grid-cards {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    height: 88%;
}


.grid-cards article {
    border-radius: 4px;
    overflow: hidden;
    /* margin: 0 10px 0 10px; */
    display: flex;
    flex-direction: column;
}

.img-tab {
    position: relative;
    height: 75%;
    width: 100%;
}

.catch-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.img-tab .username {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 2px 4px;
    background-color: rgba(255, 250, 240, 0.887);
    /* font-size: 0.8em; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-decoration: none;
    color: black;
}


div.info-tab {
    display: flex;
    flex-direction: column;
    background-color: #3d638f;
    height: 25%;
    width: 100%;
    padding: 4px;
}

.caption p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    color: beige;
    font-size: 1.1em;
    font-weight: bold;
}


.info-tab footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: beige;
}

.info-tab footer * {
    margin: 23px 0 0 0;
}

.catch-details {
    height: 88%;
    padding: 20px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}

.photos {
    height: 100%;
}

.catch-details .photos img {
    /* width: 100%; */
    max-width: 90%;
    max-height: 80%;
    height: auto;
    display: block;
    margin: 0px 50px;
}

.user-header img {
    max-width: 90%;
    max-height: 80%;
    height: auto;
    display: block;
    margin: auto auto;
}

.catch-header {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    /* height: 6%; */
}

.user-info {
    display: flex;
    align-items: flex-end;
}

.user-header {
    width: fit-content;
    max-width: 60%;
    height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0px 50px;
    /* height: 6%; */
}

.user-header h2 {
    font-size: 2.5em;
    margin-left: 100px;
}

.user-details {
    width: 60%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
    padding: 50px 50px 0px 50px;
    /* height: 6%; */
}

.catch-header a {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 20px;
}

.catch-header img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.form-bg {
    background-color: #e5e5e5;
    position: relative;
    width: 100%;
    height:fit-content;
    height: 100%;
}

.login-page {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
    min-height: 400px;
    max-width: 350px;
    padding: 53px 50px 35px 50px;
    background-color: white;
    border: 3px solid rgb(94, 150, 255);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-page label, .share-catch-page label {
    display: block;
    margin-top: 40px;
    margin-bottom: 8px;
}

.login-page input, .share-catch-page input, .share-catch-page select {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid darkgray;    
}

.share-catch-page select {
    background-color: white;
}

.share-catch-page textarea {
    height: 60px;
    width: 100%;
    border: 2px solid darkgray;
    border-radius: 4px;
    resize: none;   
}

input#experience::placeholder {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 4px;
}

.login-page button, .share-catch-page button, .signup-page button {
    display: block;
    margin: 30px auto;
    padding: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 3px;
    font-size: 1em;
}
.login-page button:hover, .share-catch-page button:hover, .signup-page button:hover {
    cursor: pointer;
}

.email-message, .password-message, .warning {
    color: red;
    font-style: italic;
    font-size: 0.7em;
}

.share-catch-page {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
    min-height: 500px;
    max-width: 550px;
    padding: 53px 50px 40px 50px;
    background-color: white;
    border: 3px solid rgb(94, 150, 255);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.share-catch-location {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

form.edit-user button {
    height: 35px;
    background-color: #7db9ff;
    border: 1px solid #ffefd1;
    padding: 5px 25px;
    border-radius: 8px;
    margin: 30px 0px;
}
form.edit-user button:hover {
    cursor: pointer;
}

form.edit button {
    height: 35px;
    background-color: #7db9ff;
    border: 1px solid #ffefd1;
    padding: 5px 25px;
    border-radius: 8px;
    margin: 30px 50px;
}
form.edit button:hover {
    cursor: pointer;
}

div.modify {
    display: flex;
}

.welcome {
    padding: 20px 20px 10px 20px;
}

.signup-page {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30%;
    min-height: 650px;
    min-width: 500px;
    padding: 53px 50px 35px 50px;
    background-color: white;
    border: 3px solid rgb(94, 150, 255);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-page .pitch {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.signup-page .email-pw {
    display: flex;
    justify-content: space-between;
}

.signup-page label {
    display: block;
    margin-top: 33px;
    margin-bottom: 8px;
}

.signup-page input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid darkgray;    
}

.share-catch-page textarea, .signup-page textarea {
    height: 90px;
    width: 100%;
    border: 2px solid darkgray;
    border-radius: 4px;
    resize: none;   
}